<div class="main-content" cdkDropListGroup>
  <ng-container *ngIf="cars.length === 0; else elseBlock">
    <div>Tälle reissulle ei ole vielä lisätty yhtään autoa</div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="cars-container">
      <div class="car-container" *ngFor="let car of cars">
        <div class="car-title-container">{{ car.name }}</div>
        <div class="seats-container">
          <div class="seat {{ seat.type }}" *ngFor="let seat of car.seats" [cdkDropListData]="{car,seat}"
               (cdkDropListDropped)="drop($event)" cdkDropList>
            <ng-container *ngIf="seat.occupant">
              {{seat.occupant.name}}
              <button (click)="removeFromSeat(seat)">-</button>
            </ng-container>
            <ng-container *ngIf="seat.occupant === null">
              <button mat-button [matMenuTriggerFor]="menu">+</button>
              <mat-menu #menu="matMenu">
                <button (click)="addPersonToSeatClick(passenger, seat)"
                        *ngFor="let passenger of getUnseatedPassengers(passengers)"
                        mat-menu-item>{{passenger.name}}</button>
              </mat-menu>
            </ng-container>
          </div>
        </div>
        <button mat-raised-button [disabled]="checkIfCarIsEmpty(car)" (click)="removeCar(car)"> poista auto</button>
      </div>
      <button mat-raised-button routerLink="/create-car"> Lisää uusi auto</button>
    </div>
    <div class="passengers-container"> Kyytiä vaille
      <div *ngFor="let passenger of passengers" class="passenger-list-container"
           cdkDropList
           [cdkDropListData]="passenger"
           (cdkDropListDropped)="drop($event)">
        <div *ngIf="passenger.seated === false" cdkDrag>{{passenger.name}}</div>
      </div>
      <button *ngIf="addPassengerMode === false" mat-raised-button (click)="addPassengerMode = true"> Lisää matkustaja
      </button>
      <div *ngIf="addPassengerMode">
        <mat-form-field>
          <input matInput autocomplete="off" [(ngModel)]="newPassengerName">
        </mat-form-field>
        <button mat-raised-button [disabled]="isDuplicateName()" (click)="addNewPassenger()">+</button>
      </div>
    </div>
  </ng-template>
</div>
